<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"game.title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="game" class="center-div">
    <ion-grid >
      <ion-row>
        <ion-col size="12" class="game-title ally">
          {{"game.team" | translate}}
        </ion-col>
      </ion-row>
      <app-profile-short *ngFor="let player of game?.current" [player]="player" [game]="game.id"></app-profile-short>
      <ion-row>
        <ion-col size="12" class="game-title enemy">
          {{"game.enemies" | translate}}
        </ion-col>
      </ion-row>
      <app-profile-short *ngFor="let player of game?.enemies" [player]="player"></app-profile-short>
    </ion-grid>
  </div>
  
  <ion-spinner name="circles" *ngIf="!game" class="centered"></ion-spinner>
</ion-content>
