<ion-row>
  <ion-col size="2">
    <img src="https://ddragon.leagueoflegends.com/cdn/11.13.1/img/champion/{{player?.champion?.get('name').replace(' ','').replace('\'','')}}.png" class="game-icon">
  </ion-col>
  <ion-col size="1" class="game-center">
    
  </ion-col>
  <ion-col size="3" (click)="openPlayer()">
    <ion-item class="game-text">
      <ion-label>
        <ion-text>
          <h3>{{player?.champion?.get('name')}}</h3>
        </ion-text>
        <p>{{player?.summoner?.get('name')}}</p>
      </ion-label>
    </ion-item>
  </ion-col>
  <ion-col size="5" class="game-center">
    <ion-grid *ngIf="player?.averages?.total>0">
      <ion-row>
        <ion-col *ngIf="player?.averages?.positiveAVG > 0" [size]="player?.averages?.positiveAVG" class="game-positive game-text">
          <label></label>
        </ion-col>
        <ion-col *ngIf="player?.averages?.negativeAVG > 0" [size]="player?.averages?.negativeAVG" class="game-negative game-text">
          <label></label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label *ngIf="player?.averages?.total === 0">{{"game.noReports" | translate}}</ion-label>
  </ion-col>
  <ion-col size="1" class="game-center game-text" (click)="report()">
    <ion-icon src="./assets/icon/check-list.svg"></ion-icon>
  </ion-col>
</ion-row>