<ion-content>
<div class="container">
  <img class="flag" src="./assets/flags/{{flag}}.png">
  <app-profile-icon isProfile ="true" [icon]="summoner?.profileIcon"></app-profile-icon>
  <span class="lvl">{{summoner?.summonerLevel}}</span>
</div>
<ion-item class="update">
  <button class="button-general" (click)="update()">{{"profile.update" | translate}}</button>
</ion-item>
<ion-item>
  <button class="button-general" (click)="change()">{{"profile.change" | translate}}</button>
</ion-item>
</ion-content>
