<ion-content>
<div class="container">
  <img class="flag" src="./assets/flags/{{flag}}.png">
  <img class="icon" src="https://ddragon.leagueoflegends.com/cdn/11.13.1/img/profileicon/{{summoner?.profileIcon}}.png">
  <span class="lvl">{{summoner?.summonerLevel}}</span>
</div>
<ion-item class="update">
  <button class="button-general" (click)="update()">{{"profile.update" | translate}}</button>
</ion-item>
<ion-item>
  <button class="button-general" (click)="change()">{{"profile.change" | translate}}</button>
</ion-item>
</ion-content>
